<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
    <h1 class="text-3xl text-green-800">Cereal Favorites</h1>

    <p class="mb-3 font-light text-gray-500 dark:text-gray-400 first-line:uppercase first-line:tracking-widest first-letter:text-7xl first-letter:font-bold first-letter:text-gray-900 dark:first-letter:text-gray-100 first-letter:mr-3 first-letter:float-left">Welcome to my site about cereal!</p>
    <p class="font-light text-gray-500 dark:text-gray-400">I hope you enjoy learning about others' favorites, and that you will add some your own.</p>



{% endblock content %}